body {
    background-color: rgb(74, 74, 143);
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
}
input {
    background-color: rgb(255, 255, 255);
    border: 5px double; background-color: rgb(255, 255, 255);
}
input:active {
    background-color: rgb(22, 255, 112);
}
input:hover {
    background-color: rgb(22, 255, 112);
}
input:focus {
    border:0;
    background-color:rgb(255, 0, 0);
}